<div class="mainContent">

    <div class="section col-8">

        <h3>About Trial Direct</h3>
        <div class="panelContent">

            <p>Trial Direct empowers physicians to consider clinical trials as a treatment option for their patients.
                Your patients want to know about clinical trials so they can consider all treatment options.
                Your patients <strong>PREFER</strong> to learn about trials from their <strong>PHYSICIAN</strong>.</p>
            <p>Like any other treatment option, you need the <strong>RIGHT INFORMATION</strong> to consider a clinical
                trial for your patient. Trial Direct provides <strong>INSTANT ACCESS</strong> to the information you
                need.</p>
            <p>You can take the <strong>DECISION</strong> with your patient to contact a physician running a trial.
                Trial Direct, putting the power and access of <strong>TOMORROW'S</strong> medicines and treatment
                options in the hands of doctors and their patients <strong>TODAY</strong>.</p>

        </div>
    </div>

    <div class="section col-4">
        <h3 class="fll">Login</h3>
        <p class="flr"><a data-ui-sref="register">Register Here</a></p>
        <div class="panelContent">

            <form id="myForm" name="loginForm" novalidate>

                <div class="form-group col-12">
                    <label for="inp_loginEmail">Email</label>
                    <input id="inp_loginEmail" name="tEmail" type="email" class="form-control"
                           data-ng-model="trial.title" value="{{trial.title}}" required>
                    <div data-ng-show="loginForm.$submitted || loginForm.tEmail.$touched">
                        <div class="errors" data-ng-show="loginForm.tEmail.$error.required || loginForm.tEmail.$error.email">Please supply a valid email address</div>
                    </div>
                </div>


                <div class="form-group col-12">
                    <label for="inp_loginPassword">Password</label>
                    <input id="inp_loginPassword" name="tPassword" type="password" class="form-control"
                           data-ng-model="trial.trialCode" value="{{trial.trialCode}}" required>
                    <div data-ng-show="loginForm.$submitted || loginForm.tPassword.$touched">
                        <div class="errors" data-ng-show="loginForm.tPassword.$error.required">Please supply a
                            password
                        </div>
                    </div>
                </div>

                <div class="formItem align-right">
                    <button>Login</button>
                </div>
            </form>

            <div class="clear"></div>

        </div>
    </div>


</div>
