@import 'vars.scss';
@import 'mixins.scss';

body {
	margin: 0;
	padding: 0;
	font-family: $font_main;
	font-size: 100%;
	background:#eee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 12px 0;
	margin: 0
}
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}


span.br {
	display: block;
}
a {
	color: $icon_green;
	text-decoration: none;
	outline:0;
}
img {outline:0;border:0;}
a.scroll-link {
	color: #ccc;
}
a:hover,
a:active {
	text-decoration: underline;
}
ul,
li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
hr {
	border: 0;
	display: block;
	clear: both;
	position: fixed;
	text-indent: -9999em;
}

label,
input,
select,
textarea,
button {
	font-family: inherit;
	font-size: inherit
}
button {
	float: right;
	margin: 1em 0;
	padding: .25em 1em;
}
form a {
	display: block;
	clear: both;
}
select {
	background: #eee;
	border: 0;
	padding: .5em;
	border-radius: .2em;
	min-width: 50%;
	font-family: inherit;
	font-size: 1em;
	outline:none;
}
input {
	display: block;
	border: .1em solid #ccc;
	width: 100%;
	padding: .5em;
	@include prefix(box-sizing, border-box, webkit moz);
}
form.small {
	display: block;
	margin: auto;
	width: 40%;
	max-width: 25em;
	min-width: 15em;
}
form.small label {
    display: block;
    font-size: .9em;
    padding: .5em 0;
}
form.wide {
	display: block;
	margin: auto;
}
.clear {
	clear: both;
}
.answers {
	text-align: center;
}
.answers label {
	display: inline;
}
.answers label span {
	display: inline-block;
	background: #eee;
	padding: .5em 1em;
	cursor: pointer;
	@include prefix(user-select, none, webkit moz ms);
	@include prefix(border-radius, .2em, webkit moz);
}
.answers label span:hover {
	background: #ddd
}
.answers label input {
	position: fixed;
	left: -9999em;
}
.answers label input:checked+span {
	background: $icon_green;
	color: #fff;
}
.answers label span .fa {display: none;}
.answers label input:checked+span .fa {display: inline}

main {
	display: block;
	min-height: 50em;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	background: #fcfcfc;
}
.limiter {
	display: block;
	margin: auto;
	width: 92.5%;
	max-width: 100em;
	min-width: 27.5em;
}
.header, .footer {
	display: block;
	padding: 1em 0;
	@include prefix(box-sizing, border-box, webkit moz);
	@include prefix(transition, all .2s ease, webkit moz o);
}
.header img {
	max-width: 9em;
	@include prefix(transition, all .2s ease, webkit moz o);
}
.nav {
	display: block;
	background: #ddd;
	padding: .5em 0;
}
.logo {
	display: block;
	float: left;
	width: 30%;
}
.topNav {
	display: block;
	float: right;
	width: 65%;
	background: none;
	padding: 1.6em 0 .5em;
	border: 0;
	text-align: right;
	@include prefix(transition, all .2s ease, webkit moz o);
}
.nav a {
	padding: .25em 0 .25em 1em;
	@include prefix(transition, all .2s ease, webkit moz o);
}
.admin {
	text-align: right;
	background: $icon_green;
	color: #fff;
}
.admin a {
	color: #fff;
	transition: color .2s ease
}
.admin a:hover {
	color: #fff
}
.footer {
	text-align: center;
	font-size: .9em;
}
table {
	width: 100%
}
th {
	text-align: left;
}
tr:nth-of-type(even) {
	background: #f2f2f2
}
th,
td {
	padding: .25em .5em
}
.qa {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 1em 0
}
.question,
.answers {
	display: block;
	float: left;
	width: 33.3333%;
	@include prefix(box-sizing, border-box, webkit moz);
}
.question p {
	padding: .5em 0
}
.answers {
	width: 66.6666%;
	text-align: right;
}
.trialSearch {
	display: block;
	float: left;
	width: 66%
}
.trialResults, .trialRight {
	display: block;
	float: right;
	width: 32%;
}
.trialResults {
	margin-bottom: 40em !important;
}
.trialLocation {
	display: block;
	float: right;
	width: 32%;
}
.trialIntro {
	display: block;
	padding: .5em 1em;
	background: #fff;
	box-shadow: 0 0 .15em #ddd;
	margin: .5em 0 1em;
	@include prefix(border-radius, .3em, webkit moz);
	@include prefix(box-sizing, border-box, webkit moz);
}
.trialIntro span {
	display: block;
	float: left;
	height: 7em;
	width: 7em;
	border: 1px solid #ccc;
	margin: .25em 1em 1em 0;
	@include prefix(transition, all .2s ease, webkit moz o);
}

.trialInfo {
	display: block;
	float: left;
	width: 66%;
	text-align: justify;
	padding: .5em 1em;
	background: #fff;
	box-shadow: 0 0 .15em #ddd;
	margin: .5em 0 1em;
	@include prefix(border-radius, .3em, webkit moz);
	@include prefix(box-sizing, border-box, webkit moz);
}
.trialList {
	font-size: .9em;
}
.trialCount {
	display: block;
	padding: .5em;
	text-align: center;
	color: $icon_green;
	background: #fff;
	margin-top: .5em;
	@include prefix(border-radius, .3em, webkit moz);
	@include prefix(box-sizing, border-box, webkit moz);
	@include prefix(box-shadow, 0 0 .15em #ddd, webkit moz o);
	@include prefix(transition, all .2s ease, webkit moz o);
}
.trialCount h1,
.trialCount p {
	padding: 0
}

.trialApply {
	display: block;
	padding: 1em 0 .5em;
	text-align: right;
}

p.distance {
	display: block;
    float: left;
    clear: both;
    padding: .5em 1em;
    background: #f8f8f8;
    color: $icon_green;
    @include prefix(border-radius, .2em, webkit moz);
}
p.link {
	display: block;
	float: right;
	text-align: right;
	padding: 0 0 12px;
}
a.more {
	background: $icon_green;
	color: #fff;
	display: inline-block;
	padding: .5em 1em;
	cursor: pointer;
	@include prefix(border-radius, .2em, webkit moz);
	@include prefix(user-select, none, webkit moz ms);
}
a:hover.more {
	text-decoration: none
}

.radio-list{position:relative;float: right; width: 70%; min-width: 16em}
.radio-list label span{text-decoration:none;display:block;clear:both;padding:.6em;cursor:pointer;text-align:left;outline:0;color:#333;background:#eee;border-radius:.2em;margin:0 auto .25em}
.radio-list label span:hover{background: #ddd;}
.radio-list label span .fa {float: right;color:#999;display: block;}
.radio-list input{position:absolute;left:-999em}

/*
.radio-button-menu .selected{border-color:#689c38;color:#094;display:block;padding-left:2.5em}
.radio-button-menu{display:block;height:2.5em;overflow:hidden;transition:height 1s ease;-webkit-transition:height 1s ease; transition-delay: .1s;}
.radio-button-menu .showList{display:none !important}
.radio-button-menu.optionSelected{overflow:inherit}
.radio-button-menu:hover{height:15em;position:relative;top:0;left:0;width:100%;z-index:1000;overflow-y:auto}
.radio-button-menu:hover label span{display:block !important;margin-right:.5em}
*/



@media screen and (min-width: 1201px) {
}
@media screen and (max-width: 1200px) {
	.trialIntro span  {height: 5em; width: 5em}
}
@media screen and (max-width: 900px) {

	body {font-size: .9em}

	.trialIntro, .trialInfo, .trialLocation, .trialSearch, .trialResults, .trialRight {float: none;width:auto; text-align: left;margin-bottom: 2em}

	.qa {
		padding: 1em 0 1.5em;
	}

	.trialCountH {display: none}
	.trialCount {display: block;float:right; padding: .1em 1em .1em 1em}
	.trialCount p, .trialCount h1 {display: inline}
	.trialCount p {position: relative;top: -5px; padding-right:.5em}
	.trialIntro span  {height: 4em; width: 4em}

	.topNav {padding-top:.8em;width: auto}
	.header img {max-width: 6em}
	.nav a {padding: .25em;}

	.header, .footer {padding: .5em 0}
}
@media screen and (max-width: 600px) {
	.question, .answers, .radio-button-menu-box {float:none;text-align: center;width: auto}
	.radio-button-menu-box {max-width: 80%; margin: auto;}
}