// body
$font_main:		"Open Sans", sans-serif;

// colors
$icon_green: 	#00857f;
$icon_bk:		#f1f1f1;
$icon_grey:		#626469;

//$a_link:        #2E9894;
//$a_hover:       #006d63;

// alignment
$all: 	left;
$alr: 	right;
$alc: 	center;
$alj: 	justify;