<div class="mainContent">
    <div class="section col-4"></div>
    <div class="section col-4">
        <h3 class="fll">My Account</h3>
        <div class="panelContent clearfix">

            <form id="myForm" name="loginForm" novalidate>

                <div class="form-group">
                    <div class="col-2">
                        <label for="inp_registerNameTitle">Title</label>
                        <input id="inp_registerNameTitle" name="tNameTitle" type="text" class="form-control"
                               data-ng-model="trial.nameTitle" value="{{trial.nameTitle}}" required>

                    </div>

                    <div class="col-5">
                        <label for="inp_registerFirstName">First Name</label>
                        <input id="inp_registerFirstName" name="tFirstName" type="text" class="form-control"
                               data-ng-model="trial.firstname" value="{{trial.firstname}}" required>
                    </div>

                    <div class="col-5">
                        <label for="inp_registerLastName">Last Name</label>
                        <input id="inp_registerLastName" name="tLastName" type="text" class="form-control"
                               data-ng-model="trial.lastname" value="{{trial.lastname}}" required>
                    </div>


                    <div data-ng-show="loginForm.$submitted || loginForm.tNameTitle.$touched || loginForm.tFirstName.$touched || loginForm.tLastName.$touched">
                        <div class="errors col-12"
                             data-ng-show="loginForm.tNameTitle.$error.required || loginForm.tFirstName.$error.required || loginForm.tLastName.$error.required">
                            Please supply your name (all fields required)
                        </div>
                    </div>


                </div>


                <div class="form-group col-12">
                    <label for="inp_registerEmail">Email</label>
                    <input id="inp_registerEmail" name="tEmail" type="email" class="form-control"
                           data-ng-model="trial.email" value="{{trial.email}}" required>
                    <div data-ng-show="loginForm.$submitted || loginForm.tEmail.$touched">
                        <div class="errors"
                             data-ng-show="loginForm.tEmail.$error.required || loginForm.tEmail.$error.email">Please
                            supply a valid email address
                        </div>
                    </div>
                </div>


                <div class="form-group col-12">
                    <label for="inp_registerNPI">NPI (National Provider Identifier) Number</label>
                    <input id="inp_registerNPI" name="tNPI" type="text" class="form-control"
                           data-ng-model="trial.npi" value="{{trial.npi}}" required>
                    <div data-ng-show="loginForm.$submitted || loginForm.tNPI.$touched">
                        <div class="errors" data-ng-show="loginForm.tNPI.$error.required">Please supply your
                            NPI Number
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <label for="inp_registerPractice">Practice Name</label>
                    <input id="inp_registerPractice" name="tPractice" type="text" class="form-control"
                           data-ng-model="trial.practice" value="{{trial.practice}}" required>
                    <div data-ng-show="loginForm.$submitted || loginForm.tPractice.$touched">
                        <div class="errors" data-ng-show="loginForm.tPractice.$error.required">Please supply your
                            Practice Name
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <label for="inp_registerZipCode">ZIP Code</label>
                    <input id="inp_registerZipCode" name="tZipCode" type="text" class="form-control"
                           data-ng-model="trial.zipcode" value="{{trial.zipcode}}" required>
                    <div data-ng-show="loginForm.$submitted || loginForm.tZipCode.$touched">
                        <div class="errors" data-ng-show="loginForm.tZipCode.$error.required">Please supply your
                            ZIP Code
                        </div>
                    </div>
                </div>

                <div class="formItem align-right col-12">
                    <button>Update</button>
                </div>

            </form>

        </div>
    </div>
    <div class="section col-4"></div>


</div>
