<div class="mainContent">

    <div class="section col66">
        <h3>About Trial Direct</h3>
        <div class="panelContent">

            <p>Trial Direct empowers physicians to consider clinical trials as a treatment option for their patients.
            Your patients want to know about clinical trials so they can consider all treatment options.
            Your patients <strong>PREFER</strong> to learn about trials from their <strong>PHYSICIAN</strong>.</p>
            <p>Like any other treatment option, you need the <strong>RIGHT INFORMATION</strong> to consider a clinical trial for your patient.
            Trial Direct provides <strong>INSTANT ACCESS</strong> to the information you need.</p>
            <p>You can take the <strong>DECISION</strong> with your patient to contact a physician running a trial.
            Trial Direct, putting the power and access of <strong>TOMORROW'S</strong> medicines and treatment options in the hands of doctors and their patients <strong>TODAY</strong>.</p>

        </div>
    </div>

    <div class="section col33">
        <h3 class="fll">Register</h3>
        <p class="flr"><a href="./#/login">Login Here</a></p>
        <div class="panelContent">
            <form name="regForm" novalidate>


            <div class="">

                <div class="formItem col2">
                    <label>Title</label>
                    <input type="text" required>
                </div>

                <div class="formItem col4">
                    <label>First Name</label>
                    <input type="text" required>
                </div>

                <div class="formItem col6">
                    <label>Last Name</label>
                    <input type="text" required>
                </div>

                <div class="formItem col100">
                    <label>Email</label>
                    <input type="email" required>
                </div>


                <div class="formItem col50">
                    <label>Password</label>
                    <input type="password" required>
                </div>

                <div class="formItem col50">
                    <label>Re-Enter Password</label>
                    <input type="password" required>
                </div>

            </div>


            <div class="">

                <div class="formItem col100">
                    <label>NPI (National Provider Identifier) Number</label>
                    <input type="text" required>
                </div>

                <div class="formItem col100">
                    <label>Practice Name</label>
                    <input type="text" required>
                </div>

                <div class="formItem col100">
                    <label>ZIP Code</label>
                    <input type="text" required>
                </div>

                <div class="formItem col100">
                    <label>Terms and Conditions</label>
                    <label>
                        <input type="checkbox" style="margin: 0"> Please indicate that you agree with the <a href="">terms and conditions</a> for use of the Trial Direct service.
                    </label>
                </div>

            </div>

            <div class="formItem align-right col100">
                <button>Register</button>
            </div>

            <div class="clear"></div>
            </form>
        </div>
    </div>


</div>
