<div class="mainContent">




    <div class="section col33">
        <h3>About Trial Direct</h3>
        <div class="panelContent">

            <p>Trial Direct empowers physicians to consider clinical trials as a treatment option for their patients.
            Your patients want to know about clinical trials so they can consider all treatment options.
            Your patients <strong>PREFER</strong> to learn about trials from their <strong>PHYSICIAN</strong>.</p>
            <p>Like any other treatment option, you need the <strong>RIGHT INFORMATION</strong> to consider a clinical trial for your patient.
            Trial Direct provides <strong>INSTANT ACCESS</strong> to the information you need.</p>
            <p>You can take the <strong>DECISION</strong> with your patient to contact a physician running a trial.
            Trial Direct, putting the power and access of <strong>TOMORROW'S</strong> medicines and treatment options in the hands of doctors and their patients TODAY.</p>

        </div>
    </div>

    <div class="section col66">
        <h3>Register</h3>
        <div class="panelContent">



        </div>
    </div>


</div>
