<div>
    <h2>Create Trial</h2>
</div>

<form name="CreateTrialArea" class="form-horizontal" role="form">

    <div class="list-answers answers">
        <label data-ng-repeat="therapeuticArea in therapeuticAreas">
            <input name="therapeuticAreaSelection" type="radio" ng-model="therapeuticArea.checked"
                   ng-click="chooseTherapeuticArea(therapeuticArea)">
            <span ng-bind="therapeuticArea.title"></span>
        </label>
    </div>

    <div class="list-text input-group">
        <input id="trialInput" type="text" class="form-control"
               ng-model="trial.title" placeholder="e.g. Acme Trial"/>
        <span id="create-trial-span" class="input-group-btn">
            <button id="add-trial-button" class="btn btn-default" type="button"
                    ng-disabled="!trial.title" title="Add" ng-click="trial.editing=true">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>
</form>


<form id="trialForm" name="trial" ng-hide="!trial.editing">
    <fieldset>
        <!-- ----------------- -->
        <!-- Trial Info Start  -->
        <!-- ----------------- -->
        <div data-td-id="trialInformationEditor" ng-show="editingTrialInfo">

            <!-- ----------------- -->
            <!-- Trial Description -->
            <!-- ----------------- -->
            <div class="trial-info-edit">
                <div class="form-group">
                    <label for="trialInfo-description">Trial Description</label>
                <span>
                    <input id="trialInfo-description" type="text" name="trialInfo-description"
                           ng-model="trial.trialInfo.description" size="31" required>
                </span>

                </div>
            </div>

            <!-- ----------------- -->
            <!-- Trial Logo        -->
            <!-- ----------------- -->
            <div class="form-group">
                <label for="trialLogo">Trial Logo</label>
                <input id="trialLogo" type="file" ngf-select ng-model="trial.trialInfo.trialLogoPic" name="file"
                       accept="image/*" ngf-max-size="2MB" required ng-change="toggleTrialInfoDisplay()"
                       ngf-model-invalid="errorFile">

                <i ng-show="trial.trialInfo.trialLogoPic.$error.required">*</i>
                <i ng-show="trial.trialInfo.trialLogoPic.$error.maxSize">File too large
                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            </div>
        </div>

        <div class="form-group">
            <!-- ------------------ -->
            <!-- Trial Info Summary -->
            <!-- ------------------ -->
            <div>
                <span ng-show="!editingTrialInfo">
                    <h4 class="trialInfoDescription" ng-bind="trial.trialInfo.description"></h4>
                </span>
            </div>
            <span>
                <img ngf-thumbnail="trial.trialInfo.trialLogoPic" class="thumb" ng-click="toggleTrialInfoDisplay()">
            </span>
            <button ng-click="trial.trialInfo.trialLogoPic = null; editingTrialInfo=true" ng-show="trial.trialInfo.trialLogoPic">Remove
                Logo
            </button>
        </div>


        <!-- ----------------- -->
        <!-- Trial Info End  -->
        <!-- ----------------- -->
        <div>
            <button ng-click="initializeTrialSite()">Add Site</button>
        </div>

        <br>

        <!-- --------------------------------------------------- -->
        <!--                    Trial Site Start                 -->
        <!-- --------------------------------------------------- -->
        <div class="form-group" ng-repeat="trialSite in trial.trialInfo.trialSites">

            <div data-td-id="trialSiteEditor{{$index}}" ng-show="trialSite.isEditing">

                <div class="form-group">
                    <!-- -------------------- -->
                    <!-- Trial Site Director  -->
                    <!-- -------------------- -->
                    <label for="trial-site-director{{$index}}">Trial Site Director</label>

                        <input id="trial-site-director{{$index}}" type="text" name="trial-site-director"
                               ng-model="trialSite.facilityName" size="31" required>

                </div>

                <div class="form-group">
                    <!-- ----------------------- -->
                    <!-- Trial Site Description  -->
                    <!-- ----------------------- -->
                    <label for="trial-site-description{{$index}}">Trial Site Description</label>
                    <span>
                        <input id="trial-site-description{{$index}}" type="text" name="trial-site-description"
                               ng-model="trialSite.siteDescription" size="31" required>
                    </span>

                </div>

                <div class="form-group">
                    <!-- ------------------- -->
                    <!-- Trial Site Summary  -->
                    <!-- ------------------- -->
                    <label for="trial-site-summary{{$index}}">Trial Site Summary</label>
                    <span>
                        <input id="trial-site-summary{{$index}}" type="text" name="trial-site-summary"
                               ng-model="trialSite.siteSummary" size="31" required>
                    </span>
                </div>


                <div class="form-group">
                    <!-- ------------------- -->
                    <!-- Trial Site Map      -->
                    <!-- ------------------- -->
                    <label for="trial-site-map{{$index}}">Trial Site Map URL</label>
                    <span>
                        <input id="trial-site-map{{$index}}" type="text" name="trial-site-map"
                               ng-model="trialSite.siteMap" size="31" required>
                    </span>
                </div>

                <div class="trial-site-logo">
                    <!-- -------------- -->
                    <!-- Trial Site Pic -->
                    <!-- -------------- -->
                    <label for="trial-site-logo{{$index}}">Trial Site Pic</label>
                    <input id="trial-site-logo{{$index}}" type="file" ngf-select ng-model="trialSite.sitePic"
                           name="siteFile" ng-change="toggleTrialSiteDisplay(trialSite)"
                           accept="image/*" ngf-max-size="2MB" required
                           ngf-model-invalid="errorFile">
                    <i ng-show="trialSite.sitePic.$error.required">*required</i><br>
                    <i ng-show="trialSite.sitePic.$error.maxSize">File too large
                        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                </div>
            </div>

            <div class="form-group">
                <!-- ------------------ -->
                <!-- Trial Info Summary -->
                <!-- ------------------ -->
                <div>
                <span ng-show="!trialSite.isEditing">
                    <h5 class="trialSiteHeading" ng-bind="trialSite.siteDescription"></h5>
                </span>
                </div>
                <span>
                    <img ngf-thumbnail="trialSite.sitePic" class="thumb" ng-click="toggleTrialSiteDisplay(trialSite)">
                </span>
                <button ng-click="trialSite.sitePic = null; trialSite.isEditing=true" ng-show="trialSite.sitePic">Remove
                    Logo
                </button>
            </div>

        </div>

        <!-- --------------------------------------------------- -->
        <!--                    Trial Site End                   -->
        <!-- --------------------------------------------------- -->

        <div class="form-group">
            <button ng-click="uploadTrial(trial.trialInfo.trialLogoPic, trial)">Upload Trial
            </button>
        </div>


    </fieldset>
</form>