<div>
    <h2>Create Trial</h2>
</div>

<form name="CreateTrialArea" class="form-horizontal" role="form">

    <div class="list-answers answers">
        <label data-ng-repeat="therapeuticarea in therapeuticAreas">
            <input id="inp_therapeuticAreaSelection_{{therapeuticarea.sortOrder}}" name="therapeuticAreaSelection" type="radio" data-ng-model="therapeuticarea.checked"
                   data-ng-click="chooseTherapeuticArea(therapeuticarea)">
            <span data-ng-bind="therapeuticarea.title"></span>
        </label>
    </div>

    <div class="list-text input-group">
        <input id="inp_newTrialInput" id="newTrialInput" type="text" class="form-control"
               data-ng-disabled="!newTrial.therapeuticarea"
               data-ng-model="newTrial.title" placeholder="e.g. Acme Trial"/>
        <span id="create-trial-span" class="input-group-btn">
            <button id="btn_addTrialButton" class="btn btn-default" type="button"
                    data-ng-disabled="!newTrial.title" title="Add" data-ng-click="newTrial.editing=true">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>
</form>


<form id="myForm" name="myForm" data-ng-hide="!newTrial.editing">
    <fieldset>
        <!-- ----------------- -->
        <!-- Trial Info Start  -->
        <!-- ----------------- -->
        <div data-td-id="trialInformationEditor" data-ng-show="editingTrialInfo">

            <!-- ----------------- -->
            <!-- Trial Description -->
            <!-- ----------------- -->
            <div class="trial-info-edit">
                <div class="form-group">
                    <label for="inp_trialDescription">Trial Description</label>
                <span>
                    <input id="inp_trialDescription" type="text" name="trialInfo-description"
                           data-ng-model="newTrial.trialInfo.description" size="31" required>
                </span>

                </div>
            </div>

            <!-- ----------------- -->
            <!-- Trial Logo        -->
            <!-- ----------------- -->
            <div class="form-group">
                <label for="inp_trialLogo">Trial Logo</label>
                <input id="inp_trialLogo" type="file" data-ngf-select data-ng-model="newTrial.trialInfo.trialLogoPic" name="file"
                       accept="image/*" data-ngf-max-size="2MB" required data-ng-change="toggleTrialInfoDisplay()"
                       data-ngf-model-invalid="errorFile">

                <i data-ng-show="newTrial.trialInfo.trialLogoPic.$error.required">*</i>
                <i data-ng-show="newTrial.trialInfo.trialLogoPic.$error.maxSize">File too large
                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            </div>
        </div>

        <div class="form-group">
            <!-- ------------------ -->
            <!-- Trial Info Summary -->
            <!-- ------------------ -->
            <div>
                <span data-ng-show="!editingTrialInfo">
                    <h4 class="trialInfoDescription" data-ng-bind="newTrial.trialInfo.description"></h4>
                </span>
            </div>
            <span>
                <img data-ngf-thumbnail="newTrial.trialInfo.trialLogoPic" class="thumb" data-ng-click="toggleTrialInfoDisplay()">
            </span>
            <button id="btn_removeTrialLogo" data-ng-click="newTrial.trialInfo.trialLogoPic = null; editingTrialInfo=true" data-ng-show="newTrial.trialInfo.trialLogoPic">Remove
                Logo
            </button>
        </div>


        <!-- ----------------- -->
        <!-- Trial Info End  -->
        <!-- ----------------- -->
        <div>
            <button id="btn_addSite" data-ng-click="initializeTrialSite()">Add Site</button>
        </div>

        <br>

        <!-- --------------------------------------------------- -->
        <!--                    Trial Site Start                 -->
        <!-- --------------------------------------------------- -->
        <div class="form-group" data-ng-repeat="trialSite in newTrial.trialInfo.trialSites">

            <div data-td-id="trialSiteEditor{{$index}}" data-ng-show="trialSite.isEditing">

                <div class="form-group">
                    <!-- -------------------- -->
                    <!-- Trial Site Director  -->
                    <!-- -------------------- -->
                    <label for="inp_trialSiteDirector">Trial Site Director</label>

                        <input id="inp_trialSiteDirector" type="text" name="trial-site-director"
                               data-ng-model="trialSite.siteDirector" size="31" required>

                </div>

                <div class="form-group">
                    <!-- ----------------------- -->
                    <!-- Trial Site Description  -->
                    <!-- ----------------------- -->
                    <label for="inp_trialSiteDescription">Trial Site Description</label>
                    <span>
                        <input id="inp_trialSiteDescription" type="text" name="trial-site-description"
                               data-ng-model="trialSite.siteDescription" size="31" required>
                    </span>

                </div>

                <div class="form-group">
                    <!-- ------------------- -->
                    <!-- Trial Site Summary  -->
                    <!-- ------------------- -->
                    <label for="inp_trialSiteSummary">Trial Site Summary</label>
                    <span>
                        <input id="inp_trialSiteSummary" type="text" name="trial-site-summary"
                               data-ng-model="trialSite.siteSummary" size="31" required>
                    </span>
                </div>


                <div class="form-group">
                    <!-- ------------------- -->
                    <!-- Trial Site Map      -->
                    <!-- ------------------- -->
                    <label for="inp_trialSiteMap">Trial Site Map URL</label>
                    <span>
                        <input id="inp_trialSiteMap" type="text" name="trial-site-map"
                               data-ng-model="trialSite.siteMap" size="31" required>
                    </span>
                </div>

                <div class="trial-site-logo">
                    <!-- -------------- -->
                    <!-- Trial Site Pic -->
                    <!-- -------------- -->
                    <label for="inp_trialSiteLogo">Trial Site Pic</label>
                    <input id="inp_trialSiteLogo" type="file" data-ngf-select data-ng-model="trialSite.sitePic"
                           name="siteFile" data-ng-change="toggleTrialSiteDisplay(trialSite)"
                           accept="image/*" data-ngf-max-size="2MB" required
                           data-ngf-model-invalid="errorFile">
                    <i data-ng-show="trialSite.sitePic.$error.required">*required</i><br>
                    <i data-ng-show="trialSite.sitePic.$error.maxSize">File too large
                        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                </div>
            </div>

            <div class="form-group">
                <!-- ------------------ -->
                <!-- Trial Info Summary -->
                <!-- ------------------ -->
                <div>
                <span data-ng-show="!trialSite.isEditing">
                    <h5 class="trialSiteHeading" data-ng-bind="trialSite.siteDescription"></h5>
                </span>
                </div>
                <span>
                    <img data-ngf-thumbnail="trialSite.sitePic" class="thumb" data-ng-click="toggleTrialSiteDisplay(trialSite)">
                </span>
                <button id="btn_removeSitePic" data-ng-click="trialSite.sitePic = null; trialSite.isEditing=true" data-ng-show="trialSite.sitePic">Remove
                    Logo
                </button>
            </div>

        </div>

        <!-- --------------------------------------------------- -->
        <!--                    Trial Site End                   -->
        <!-- --------------------------------------------------- -->

        <div class="form-group">
            <button id="btn_uploadTrial" data-ng-click="uploadTrial(newTrial.trialInfo.trialLogoPic, newTrial)">Upload Trial
            </button>
        </div>


    </fieldset>
</form>