<!-- ngView:  -->
<div data-autoscroll="true" class="view-frame">
    <form class="wide">
        <div class="trialSearch">
            <div class="answers trialTitle" style="float:right">
                <label>
                    <input type="radio" data-ng-checked="trial.checked">
                    <span class="ng-binding">{{trial.therapeuticArea.title}}</span>
                </label>
            </div>

            <div class="trialTitle" ng-bind="trial.title"></div>

            <div class="qa" data-ng-repeat="questionnaireEntry in questionnaireEntries | orderBy:'-question.id'">
                <div class="question">
                    <p ng-bind="questionnaireEntry.question.questionText"></p>
                    <div class="clear"></div>
                </div>
                <div class="answers">
                    <label data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">
                        <input type="checkbox"
                               ng-click="updateTrialSelectorQuestionnaireEntry(questionnaireEntry, answer)"
                               ng-checked="answer.isAcceptable" ng-model="answer.isAcceptable">
                        <span ng-bind="answer.answerText"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="trialResults ng-hide" data-ng-show="showList">
            <h3 class="countHead" id="results">Trial Results</h3>
            <div class="trialList">
                <div class="trialIntro ng-hide" data-ng-show="trial2"><h4>Thomas Haak, MD</h4>
                    <p><span class="doc1"></span>This trial evaluates a cognitive-behavioural intervention
                        for diabetes patients with suboptimal glycaemic control and comorbid depressive
                        symptoms and/or diabetes distress.</p>
                    <p class="distance"><i class="fa fa-map-marker"></i> 72 Miles Away</p>
                    <p class="link"><a href="#/trial-info2/" class="more">Learn More</a></p>
                    <div class="clear"></div>
                </div>
                <div class="trialIntro" data-ng-show="trial1"><h4>Stacy Moulder, MD</h4>
                    <p><span class="doc3"></span>The goal of this research study is find out if researchers
                        can use genetic testing on tumor samples to predict if tumors will respond to breast
                        cancer treatments.</p>
                    <p class="distance"><i class="fa fa-map-marker"></i> 125 Miles Away</p>
                    <p class="link"><a href="#/trial-info1/" class="more">Learn More</a></p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </form>
    <div class="clear ng-scope"></div>
</div>