<div class="col-xs-9">
    <div>
        <h2>Edit Trial</h2>
    </div>

    <form id="myForm" name="myForm">

        <div class="form-group col-xs-3" style="paddidata-ng-left:0">

            <!-- Edit Trial Information -->
            <div class="simplePanel" data-ng-click="showSiteForm()">
                <h3>Trial Information</h3>
                <p class="edTrial">Edit Trial Information</p>
            </div>

            <!-- Trial Sites List -->
            <div class="simplePanel">

                <h3>Trial Sites</h3>
                <input type="text" data-ng-model="search" placeholder="Trial Site Search...">

                <ul class="trialLeaderSelect">
                    <li class="trialLeaderName"
                        data-ng-repeat="trialSite in trialInfo.trialSites._embeddedItems | filter : search"
                        data-ng-click="showSiteForm(trialSite.id)">
                        <strong>{{trialSite.siteDirector}}</strong><br>
                        <small>
                            <span data-ng-if="trialSite.trialDirectAddress.address1.length">{{trialSite.trialDirectAddress.address1}}, </span>
                            <span data-ng-if="trialSite.trialDirectAddress.address2.length">{{trialSite.trialDirectAddress.address2}}, </span>
                            <span data-ng-if="trialSite.trialDirectAddress.address4.length">{{trialSite.trialDirectAddress.address3}}, </span>
                            <span data-ng-if="trialSite.trialDirectAddress.address4.length">{{trialSite.trialDirectAddress.address4}}, </span>
                            <span data-ng-if="trialSite.trialDirectAddress.address5.length">{{trialSite.trialDirectAddress.address5}}, </span>
                            <span data-ng-if="trialSite.trialDirectAddress.country.length">{{trialSite.trialDirectAddress.country}}. </span>
                        </small>
                    </li>
                </ul>

            </div>

        </div>


        <!-- Trial Info Start  -->

        <div data-td-id="trialInformationEditor" class="simplePanel col-xs-9"
             data-ng-hide="trialSiteId">

            <!-- Left Column, Trial Site Information -->
            <div class="trialLeaderBio">

                <div class="trial-info-edit">
                    <div class="form-group">
                        <label for="trialInfo-description">Trial Name</label>
                        <span>
                            <input id="newTrialInput" type="text" class="form-control" value="{{trial.title}}">
                        </span>
                    </div>
                </div>

                <div class="list-answers answers">
                    <label>Therapeutic Area</label>
                    <div class="clear"></div>

                    <label data-ng-repeat="therapeuticArea in therapeuticAreas">
                        <input name="therapeuticAreaSelection" type="radio" data-ng-model="therapeuticArea.checked"
                               data-ng-click="chooseTherapeuticArea(therapeuticArea)">
                        <span data-ng-bind="therapeuticArea.title"></span>
                    </label>
                </div>

                <!--
                <div class="list-text input-group">
                </div>
                -->

                <div class="clear"></div>
            </div>


            <!-- Right Column, Trial Site Information -->
            <div class="trialSiteLocation">

                <!-- Trial Information Logo -->
                <div class="form-group">
                    <label>Trial Image/Logo</label>

                        <span class="trialLogoImage">
                            <!-- <img ngf-thumbnail="/trialInfoImage/{{trial.id}}" class="thumb" data-ng-click="toggleTrialInfoDisplay()">-->
                            <img data-ng-src="/trialInfoImage/{{trial.id}}">
                            <button type="button" class="btn btn-remove">Remove Logo</button>
                        </span>
                </div>

            </div>


            <div class="clear"></div>


            <!-- Trial Summary -->
            <div class="trial-info-edit">
                <div class="form-group">
                    <label for="trialInfo-summary">Trial Summary</label>
                    <span>
                        <textarea id="trialInfo-summary" name="trialInfo-summary"
                                  data-ng-model="trialInfo.summary" class="trialFacility" required>
                        </textarea>
                    </span>
                </div>
            </div>


            <!-- Trial Description -->
            <div class="trial-info-edit">
                <div class="form-group">
                    <label for="trialInfo-description">Full Description</label>
                    <span>
                        <textarea id="trialInfo-description" name="trialInfo-description"
                                  data-ng-model="trialInfo.summary" style="min-height: 25em" required>
                        </textarea>
                    </span>
                </div>
            </div>

        </div>
        <!-- Trial Info End  -->


        <!-- Trial Site Start -->
        <div class="form-group simplePanel col-xs-9" data-ng-repeat="trialSite in trialInfo.trialSites._embeddedItems"
             data-ng-show="trialSiteId == trialSite.id">


            <div class="clear"></div>

            <!-- Left Column, Trial Facility Summaries -->
            <div class="trialLeaderBio">

                <div data-td-id="trialSiteEditor{{$index}}">

                    <!-- Trial Facility Name -->
                    <div class="form-group">
                        <label for="trial-site-director{{$index}}">Trial Facility Name</label>
                        <input id="trial-site-director{{$index}}" type="text" name="trial-site-director"
                               data-ng-model="trialSite.siteDirector" size="31" required>
                    </div>

                    <!-- Trial Facility Description -->
                    <div class="form-group">
                        <label for="trial-site-summary{{$index}}">Trial Facility Description</label>
                        <span>
                            <textarea id="trial-site-summary{{$index}}" name="trial-site-summary"
                                      data-ng-model="trialSite.siteDirectorBio" required>
                            </textarea>
                        </span>
                    </div>

                    <!-- Trial Facility Image -->
                    <div class="trial-site-logo">
                        <label>Trial Facility Image</label>
                        <p class="trialLeaderImage" style="background-image:url(/trialSiteImage/{{trialSite.id}})"></p>
                    </div>

                    <!-- Trial Facility Image REMOVE -->
                    <div class="form-group">
                        <span>
                            <img ngf-thumbnail="trialSite.sitePic" class="thumb"
                                 data-ng-click="toggleTrialSiteDisplay(trialSite)">
                        </span>
                        <button type="button" class="btn btn-remove" style="float:right;clear:both">
                            Remove Image
                        </button>
                    </div>


                    <div class="clear"></div>

                    <!-- Trial Facility Location (Google Map URL) -->
                    <div class="form-group">
                        <label for="trial-site-map{{$index}}">Trial Facility Location (Google Map URL)</label>
                        <span>
                            <input id="trial-site-map{{$index}}" type="text" name="trial-site-map"
                                   data-ng-model="trialSite.siteMap" size="31">
                        </span>
                    </div>


                </div>


            </div>

            <!-- Left Column, Trial Facility Address -->
            <div class="trialSiteLocation">

                <!-- Trial Site Address 1 -->
                <div class="form-group">
                    <label for="trial-site-address1{{$index}}">Address 1</label>
                    <span>
                        <input id="trial-site-address1{{$index}}" type="text" name="trial-site-address1"
                               data-ng-model="trialSite.trialDirectAddress.address1" size="31" required>
                    </span>
                </div>

                <!-- Trial Site Address 2 -->
                <div class="form-group">
                    <label for="trial-site-address2{{$index}}">Address 2</label>
                    <span>
                        <input id="trial-site-address2{{$index}}" type="text" name="trial-site-address2"
                               data-ng-model="trialSite.trialDirectAddress.address2" size="31">
                    </span>
                </div>

                <!-- Trial Site Address 3 -->
                <div class="form-group">
                    <label for="trial-site-address3{{$index}}">Town or City</label>
                    <span>
                        <input id="trial-site-address3{{$index}}" type="text" name="trial-site-address3"
                               data-ng-model="trialSite.trialDirectAddress.address3" size="31" required>
                    </span>
                </div>

                <!-- Trial Site Address 4 -->
                <div class="form-group">
                    <label for="trial-site-address4{{$index}}">State</label>
                    <span>
                        <input id="trial-site-address4{{$index}}" type="text" name="trial-site-address4"
                               data-ng-model="trialSite.trialDirectAddress.address4" size="31" required>
                    </span>
                </div>

                <!-- Trial Site Address 5 -->
                <div class="form-group">
                    <label for="trial-site-address5{{$index}}">ZIP Code</label>
                    <span>
                        <input id="trial-site-address5{{$index}}" type="text" name="trial-site-address5"
                               data-ng-model="trialSite.trialDirectAddress.address5" size="31" required>
                    </span>
                </div>

                <!-- Trial Site Address (Country) -->
                <div class="form-group">
                    <label for="trial-site-country{{$index}}">Country</label>
                    <span>
                        <input id="trial-site-country{{$index}}" type="text" name="trial-site-country"
                               data-ng-model="trialSite.trialDirectAddress.country" size="31" required>
                    </span>
                </div>


            </div>

            <div class="clear"></div>


        </div>
        <!-- Trial Site End -->

    </form>
</div>