<!-- ngView:  -->
<div data-autoscroll="true" class="view-frame col-xs-9">
    <form class="wide">

        <div class="setArea">
            <p>Trial Therapeutic Are: <strong>{{trial.therapeuticArea.title}}</strong></p>
        </div>

         <span class="trial-selection-buttons answers">
            <label for="inp_to_edit">
                <input id="inp_to_edit" type="radio" data-ng-checked="{{trial.id}}" data-ui-sref="trials.edit({trialId:trial.id})">
                <span>Edit Information</span>
            </label>
        </span>

        <h1>Criteria options for <strong>"<span data-ng-class="{isEditing: isEditing}" data-ng-bind="trialTitle"></span>"</strong></h1>
        <p class="noTopPad">For each question below, select all options that are acceptable to your trial criteria.</p>

            <div class="qa" data-ng-repeat="questionnaireEntry in questionnaireEntries | orderBy:'-question.id'">
                <div class="question">
                    <p data-ng-bind="questionnaireEntry.question.questionText"></p>
                    <div class="clear"></div>
                </div>
                <div>



                    <div class="answers" data-ng-if="questionnaireEntry.answers._embeddedItems.length<=4">
                        <label data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">
                            <input id="inp_answer{{answer.id}}" type="checkbox"
                                   data-ng-click="updateQuestionnaireEntrySet(questionnaireEntry)"
                                   data-ng-checked="answer.isAcceptable" data-ng-model="answer.isAcceptable">
                            <span data-ng-bind="answer.answerText"></span>
                        </label>
                        <label class="select-all">
                            <input id="inp_selectAll" name="selectAll" type="checkbox" data-ng-model="questionnaireEntry.selectAll"
                                   data-ng-click="setEditing(true);selectAll(questionnaireEntry)" title="Select All">
                        </label>
                    </div>


                    <div class="answers" data-ng-if="questionnaireEntry.answers._embeddedItems.length>=5">
                        <div class="option-list slim">
                        <label data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">
                            <input id="inp_answer{{answer.id}}" type="checkbox"
                                   data-ng-click="updateQuestionnaireEntrySet(questionnaireEntry)"
                                   data-ng-checked="answer.isAcceptable" data-ng-model="answer.isAcceptable">
                            <span data-ng-bind="answer.answerText"></span>
                        </label>
                        </div>
                        <label class="select-all option-list-all">
                            <input id="inp_selectAll" name="selectAll" type="checkbox" data-ng-model="questionnaireEntry.selectAll"
                                   data-ng-click="setEditing(true);selectAll(questionnaireEntry)" title="Select All">
                        </label>
                    </div>


                    <!--
                    <div class="answers">
                        <label data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">
                            <input id="inp_answer{{answer.id}}" type="checkbox"
                                   data-ng-click="updateQuestionnaireEntrySet(questionnaireEntry)"
                                   data-ng-checked="answer.isAcceptable" data-ng-model="answer.isAcceptable">
                            <span data-ng-bind="answer.answerText"></span>
                        </label>
                        <label class="select-all">
                            <input id="inp_selectAll" name="selectAll" type="checkbox" data-ng-model="questionnaireEntry.selectAll"
                                   data-ng-click="setEditing(true);selectAll(questionnaireEntry)" title="Select All">
                        </label>
                    </div>
                    -->


                    <div class="right trialSelectionError" data-ng-hide="!questionnaireEntry.errors">
                        <label data-ng-bind="questionnaireEntry.errors"></label>
                    </div>
                </div>
            </div>

            <div class="right trialSubmission answers">
                <label><input id="inp_saveSelection" type="checkbox" data-ng-disabled="!isEditing"
                       data-ng-click="submitTrialSelections()"/>
                <span>Save Selections</span>
                </label>
                <label class="selectionsSaved" data-ng-hide="!wasSaved">
                    Selections saved...
                </label>

            </div>


    </form>
    <div class="clear"></div>
</div>