<!-- ngView:  -->
<div data-autoscroll="true" class="view-frame col-xs-9">
    <form class="wide">

        <div class="setArea">
            <p>Trial Therapeutic Are: <strong>{{trial.therapeuticArea.title}}</strong></p>
        </div>

         <span class="trial-selection-buttons answers">
            <label for="inp_to_edit">
                <input id="inp_to_edit" type="radio" data-ng-checked="{{trial.id}}" data-ui-sref="trials.edit({trialId:trial.id})">
                <span>Edit Information</span>
            </label>
        </span>

        <h1>Criteria options for <strong>"<span data-ng-class="{isEditing: isEditing}" data-ng-bind="trialTitle"></span>"</strong></h1>
        <p class="noTopPad">For each question below, select all options that are acceptable to your trial criteria.</p>

            <div class="qa" data-ng-repeat="questionnaireEntry in questionnaireEntries | orderBy:'-question.id'">
                <div class="question">
                    <p data-ng-bind="questionnaireEntry.question.questionText"></p>
                    <div class="clear"></div>
                </div>
                <div>



                    <div class="answers" ng-if="questionnaireEntry.answers._embeddedItems.length<=4">
                        <label data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">
                            <input type="checkbox"
                                   data-ng-click="updateQuestionnaireEntrySet(questionnaireEntry)"
                                   data-ng-checked="answer.isAcceptable" data-ng-model="answer.isAcceptable">
                            <span data-ng-bind="answer.answerText"></span>
                        </label>
                        <label class="select-all">
                            <input name="selectAll" type="checkbox" data-ng-model="questionnaireEntry.selectAll"
                                   data-ng-click="setEditing(true);selectAll(questionnaireEntry)" title="Select All">
                        </label>
                    </div>


                    <div class="answers" ng-if="questionnaireEntry.answers._embeddedItems.length>=5">
                        <div class="option-list slim">
                        <label data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">
                            <input type="checkbox"
                                   data-ng-click="updateQuestionnaireEntrySet(questionnaireEntry)"
                                   data-ng-checked="answer.isAcceptable" data-ng-model="answer.isAcceptable">
                            <span data-ng-bind="answer.answerText"></span>
                        </label>
                        </div>
                        <label class="select-all option-list-all">
                            <input name="selectAll" type="checkbox" data-ng-model="questionnaireEntry.selectAll"
                                   data-ng-click="setEditing(true);selectAll(questionnaireEntry)" title="Select All">
                        </label>
                    </div>


                    <!--
                    <div class="answers">
                        <label data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">
                            <input type="checkbox"
                                   data-ng-click="updateQuestionnaireEntrySet(questionnaireEntry)"
                                   data-ng-checked="answer.isAcceptable" data-ng-model="answer.isAcceptable">
                            <span data-ng-bind="answer.answerText"></span>
                        </label>
                        <label class="select-all">
                            <input name="selectAll" type="checkbox" data-ng-model="questionnaireEntry.selectAll"
                                   data-ng-click="setEditing(true);selectAll(questionnaireEntry)" title="Select All">
                        </label>
                    </div>
                    -->


                    <div class="right trialSelectionError" data-ng-hide="!questionnaireEntry.errors">
                        <label data-ng-bind="questionnaireEntry.errors"></label>
                    </div>
                </div>
            </div>

            <div class="right trialSubmission answers">
                <label><input type="checkbox" data-ng-disabled="!isEditing"
                       data-ng-click="submitTrialSelections()"/>
                <span>Save Selections</span>
                </label>
                <label class="selectionsSaved" data-ng-hide="!wasSaved">
                    <p>Selections saved...</p>
                </label>

            </div>

        <div class="trialResults data-ng-hide" data-ng-show="showList">
            <h3 class="countHead" id="results">Trial Results</h3>
            <div class="trialList">
                <div class="trialIntro data-ng-hide" data-ng-show="trial2"><h4>Thomas Haak, MD</h4>
                    <p><span class="doc1"></span>This trial evaluates a cognitive-behavioural intervention
                        for diabetes patients with suboptimal glycaemic control and comorbid depressive
                        symptoms and/or diabetes distress.</p>
                    <p class="distance"><i class="fa fa-map-marker"></i> 72 Miles Away</p>
                    <p class="link"><a href="#/trial-info2/" class="more">Learn More</a></p>
                    <div class="clear"></div>
                </div>
                <div class="trialIntro" data-ng-show="trial1"><h4>Stacy Moulder, MD</h4>
                    <p><span class="doc3"></span>The goal of this research study is find out if researchers
                        can use genetic testing on tumor samples to predict if tumors will respond to breast
                        cancer treatments.</p>
                    <p class="distance"><i class="fa fa-map-marker"></i> 125 Miles Away</p>
                    <p class="link"><a href="#/trial-info1/" class="more">Learn More</a></p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </form>
    <div class="clear data-ng-scope"></div>
</div>