@import 'vars.scss';
@import 'mixins.scss';

*, *:before, *:after {
  @include prefix(box-sizing, border-box, webkit moz);
}

body {
  font-family: $font_default;
}

.errors {
  color: red;
  font-style: italic;
}

/**
 Integration start
**/

#myForm {

}

#myForm label {
  display: inline-block;
  text-align: right;
  font-size: .9em;
  font-weight: bold;
}

#myForm input {
  /* line-height:1em; */
  float: right;
}

span.trial-edit-buttons {
  float: right;
  width: 9%;
  padding: 11px 0;
}

span.trial-selection-buttons {
  float: right;
  width: 9%;
  text-align: left;
  margin: 1em 2em;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  overflow-y: auto;
  height: 8em;
  margin: 0;
}

textarea.trialFacility {
  height: 17em;
}

.edTrial {
  padding: 10px 15px;
  color: #00857f;
  cursor: pointer;
}

.edTrial:hover {
  background: #eee;
}

#myForm img {
  /* float: right; */
}

.trial-site {
  overflow: auto;
  border: 1px lightgray solid;
}

.pure-control-group > img {
  float: left;
}

.pure-controls > button {
  float: left;
}

.file-upload-group {
  background: red;
  display: block;
  line-height: 10px;
  width: 50%;
  margin: auto 0;
}

label.selectionsSaved > p {
  font-style: italic;
  color: lightgray;
}

.right {
  float: right;
}

.trialSelectionError {
  color: #FD7C7C;
  margin-right: 1em;
}

main.trial-direct {
  background: #fafafa;
}

div.pa-sidebar {
  background-color: #E6E6E6;
}

div.list-text {
  width: 31em;
}

div.list-answers {
  text-align: left;
  padding-bottom: 1em;
}

.trialTitle {
  font-size: 1.7em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.trialTitle.isEditing {
  font-style: italic;
  color: grey;
}

.trialdirect > a {
  color: #00857f;
  text-decoration: none;
}

.trialdirect > a:hover,
.trialdirect > a:focus {
  color: #00857f;
  text-decoration: underline;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #00857f;
}

.nav-list {
  padding: 0
}

.nav > .limiter > a {
  color: #fff;
}

.headerPanel .nav > a:hover {
  outline: 0;
  color: #00857f; /** green **/
  text-decoration: none;
}

.nav li > a {
  outline: 0;
  text-decoration: none;
}

.answers label.select-all input {
  position: relative;
  left: 5px;
  bottom: 10px;
  display: inline-block;
}

div.trialSubmission {
  width: 100%;

}

div.trialSubmission label input + span {
  background: #369;
  color: #fff;
  font-size: 1.25em;
  margin-top: 1em;
}

/** When disabled the trialSelector submit button shouldn't respond to :hover **/
div.trialSubmission label input:disabled + span,
div.trialSubmission label input:disabled:hover + span {
  background: #ddd;
  color: #fff;
  cursor: not-allowed;
}

div.trialSubmission label input:hover + span {
  background: #555;
  color: #fff;
}

/**
 Integration End
**/

a, img {
  outline: 0;
}

body, li, ul {
  margin: 0;
  padding: 0
}

hr, img {
  border: 0
}

hr, span.br {
  display: block
}

.footer, .header, input {

}

.clear, form a, hr, p.distance {
  clear: both
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.menu i, a.more {
  cursor: pointer
}

body.trialDirect {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  background: #fafafa
}

h1, h2, h3, h4, h5, h6, p {
  padding: 12px 0;
  margin: 0;
}

h1 {
  font-size: 1.8em
}

h2 {
  font-size: 1.6em
}

h3 {
  font-size: 1.4em
}

h4 {
  font-size: 1.2em
}

a {
  color: #00857f;
  text-decoration: none
}

a.scroll-link {
  color: #ccc
}

a:active, a:hover {
  text-decoration: underline
}

li, ul {
  display: inline;
  list-style: none
}

hr {
  position: fixed;
  text-indent: -9999em
}

button, input, label, textarea {
  font-family: inherit;
  font-size: inherit
}

button {
  /*float: right;*/
  /*margin: 0 0 2em 0;*/
  /* padding: .25em 1em; */
  /*clear: both;*/
}

form {
  margin: 0;
}

form.small, form.wide {
  margin: auto;
  display: block
}

form a {
  display: block
}

input {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  padding: .5em
}

.btn.answers, .answers label span, p.distance {
  border-radius: .2em
}

.answers, .footer, .header, .question {

}

input[type=checkbox], input[type=radio] {
  display: inline;
  width: auto
}

form.small {
  width: 40%;
  max-width: 25em;
  min-width: 15em
}

form.small label {
  display: block;
  font-size: .9em;
  padding: .5em 0
}

.answers label {
  display: inline;
}

.btn.answers, .answers label span {
  display: inline-block;
  background: #eee;
  padding: .5em 1em;
  margin-left: .25em;
  margin-bottom: .5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

.alert {
  margin-bottom: 1em;
}

.option-list {
  height: 15em;
  overflow-y: auto;
  overflow-x: hidden;
}

.option-list.slim {
  width: 97.5%;
}

.option-list label span {
  text-decoration: none;
  display: block;
  clear: both;
  padding: .6em;
  cursor: pointer;
  text-align: left;
  outline: 0;
  color: #333;
  background: #eee;
  border-radius: .2em;
  margin: 0 auto .25em;
  width: 98%;
}

.option-list label span:hover {
  background: #ddd;
}

.option-list label span .fa {
  float: right;
  color: #999;
  display: block;
}

.option-list input {
  position: absolute;
  left: -999em
}

.option-list button {
  text-decoration: none;
  display: block;
  clear: both;
  padding: 0.5em .6em;
  cursor: pointer;
  text-align: left;
  outline: 0;
  color: #333; /*background:#eee;*/
  border-radius: .2em;
  margin: 0 0 .25em;
  width: 99%;
}

/*.option-list button:hover{background: #ddd;}*/
.option-list button .glyphicon {
  float: right;
  display: block;
}

.answers label.select-all.option-list-all input {
  bottom: 15.5em;
}

.noTopPad {
  padding-top: 0 !important;
}

.setArea {
  display: block;
  background: #eee;
  padding: 1em;
  border-radius: .4em;
  float: right;
  border: 1px solid #00857f;
  margin: 1.1em 0 2em;
  color: #00857f;
}

.setArea p {
  padding: 0;
}

.btn.answers:active, .btn.answers:hover,
.answers label span:active, .answers label span:hover {
  background: #ddd
}

.answers label input {
  position: fixed;
  left: -9999em;
}

.answers label input:checked + span {
  background: #00857f;
  color: #fff
}

.answers label span .fa {
  display: none
}

.answers label input:checked + span .fa {
  display: inline
}

.limiter, main { /* background: #fafafa; */
  display: block;
}

main {
  min-height: 50em;
}

.limiter {
  margin: auto;
  width: 92.5%;
  max-width: 125em;
  min-width: 16em
}

.limiter.inline {
  margin: 0;
  width: auto;
  max-width: none;
  min-width: 0;
  display: inline
}

.footer, .header {
  display: block;
  padding: 1em 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff
}
.header {padding-top:0}

.header img, .topNav, .topNav1 {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease
}

.header {
  border-bottom: 1px solid #f2f2f2
}

.header img {
  max-width: 9em;
  transition: all .2s ease
}

.menu {
  display: none;
  float: right;
  margin-top: .2em
}

.logo, .nav {
  display: block;
}

.headerPanel, .logo {
  float: left
}

.menu i {
  font-size: 25px;
  color: #aaa;
  border: 3px solid #aaa;
  padding: .1em .2em;
  border-radius: .2em;
  margin-top: 0
}

.menu:active i, .menu:hover i {
  color: #666;
  border-color: #666
}

a[href="#top"] {
  position: fixed;
  right: 1em;
  bottom: 1em;
  background: rgba(0, 0, 0, .75);
  color: #fff;
  text-decoration: none;
  padding: .5em;
  font-size: 1.2em;
  min-width: 2em;
  text-align: center;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em
}

.footer, .trialList {
  font-size: .9em
}

a[href="#top"]:active, a[href="#top"]:hover {
  background: rgba(0, 0, 0, .9)
}

a[href="#top"] span {
  position: fixed;
  text-indent: -999em
}

.logo {
  width: 30%
}

.topNav, .topNav1 {
  display: block;
  float: right;
  width: 65%;
  background: 0;
  padding: 1.6em 0 .5em;
  border: 0;
  text-align: right;
  transition: all .2s ease
}

.nav a, .trialIntro span {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease
}

.mobileOnly, .topNav {
  display: none
}

.nav a {
  padding: .25em 0 .25em 1em;
  transition: all .2s ease
}

.topNav1 a {
  padding: .5em 1em;
  border-bottom: 2px solid #fff;
}

.topNav1 .active a {
  border-bottom-color: #00857f;
}

.admin {
  text-align: right;
  background: #00857f;
  padding: .5em 0;
  margin-bottom: 1em;
}

.admin a {
  transition: color .2s ease;
  padding: .25em 1em;
}

.admin, .admin a, .admin a:active, .admin a:hover {
  color: #fff
}

.footer {
  border-top: 1px solid #f2f2f2;
  text-align: center
}

table {
  width: 100%
}

th {
  text-align: left
}

tr:nth-of-type(even) {
  background: #f2f2f2
}

td, th {
  padding: .25em .5em
}

.qa {
  width: 100%;
  display: inline-block;
  /* border-bottom: 1px solid #eee; */
  padding: 1em 0;
  position: relative;
}

.btn-remove-question {
  position: absolute;
  top: -18px;
  right: -17px;
  color: #a00 !important;
  font-size: 18px !important;
  padding: 6px 7px 2px 8px !important;
  border-radius: 50% !important;
  box-shadow: 0 0 .25em #ddd !important;
  background: #fff;
}

.btn-add-site {
  top: -18px;
  right: -17px;
  color: #a00 !important;
  font-size: 18px !important;
  padding: 6px 7px 2px 8px !important;
  border-radius: 50% !important;
  box-shadow: 0 0 .25em #ddd !important;
  background: #fff;
}

.side-panel {
  display: block;
  background: #fff;
  padding: 1em;
  margin: 1em 0;
  border-radius: .4em;
  border: 1px solid #eee;
}

.side-panel .nav-header {
  display: block;
  padding: 0 0 1em;
  margin: 0;
  font-weight: bold;
}

.form-group .qa {
  padding: 1em;
  border: 1px solid #eee;
  border-radius: .4em;
  position: relative;
  margin-top: 2em;
  background: #fff;
}

.answers, .question {
  display: block;
  float: left;
  width: 33.3333%;
}

.question {
  padding-right: 1em;
}

.questionEdit {
  display: block;
  border-bottom: 1px dotted #DDD;
  margin-bottom: 1em;
  padding-bottom: .5em;
}

.question p {
  padding: .5em 0;
}

.questionEdit
p {
  margin-top: 0;
  padding-top: 0;
}

.trialInfo, .trialIntro, .simplePanel {
  padding: .5em 1em;
  border: 1px solid #eee;
}

.answers {
  width: 66.6666%;
  text-align: right;
}

.trialSearch {
  display: block;
  float: left;
  width: 54%;
}

.trialLocation, .trialResults, .trialRight {
  text-align: center;
  float: right;
  width: 20%;
  display: block;
}

.trialLogoImage {
  display: block;
  width: 50%;
  min-width: 10em;
  margin: 0 auto 1em;
  text-align: center;
}

.trialLogoImage .btn-remove {
  margin-left: 0;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.answer-container .btn-remove {
  border: 0;
  box-shadow: none;
  background: #ddd;
  margin: 0 0 0 1em;
  padding: .5em .75em;
}

.answer-container .btn-remove:hover {
  background: #ccc;
}

.answer-container .answerText {
  line-height: 2.5em;
}

.questionEdit p {
  padding: 0;
}

.trialResults {
  /*    margin-bottom: 40em !important;*/
  margin-top: 1em !important;
}

.trialIntro {
  display: block;
  padding: 1em;
  background: #fff;
  margin: .5em 0 1em;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  text-align: left;
  cursor: pointer;
}

.trailIntro ul, .trialIntro li {
  display: inline;
  margin: 0;
  padding: 0;
}

.trialIntro .trialImage {
  display: block;
  float: left;
  width: 33.3333%;
  padding-right: .6em;
}

.trialIntro .trialBrief {
  display: block;
  float: left;
  width: 66.6667%;
  line-height: 1.25;
  padding-bottom: 1em;
}

.trialIntro .trialLink {
  display: block;
  text-align: right;
}

.trialSiteImage,
.trialIntro
span {

  display: block;
  float: left;
  width: 5em;
  margin: .25em 0 .5em;
  transition: all .2s ease;
  max-height: 4em;
  overflow: hidden;

}

.trialLeader {
  display: inline-block;
  cursor: pointer;
  width: 32.825%;
  padding: 1em;
  margin: .25%;
  vertical-align: top;
}

.simplePanel.trialLeaderList {
  max-height: 13.5em;
  overflow: auto;
}

.trialLeader p {
  padding: 0;
  line-height: 1;
}

.highlighted {
  background: #000;
  color: #ff0;
}

.trialLeaderImage {
  display: block;
  width: 6em;
  height: 6em;
  overflow: hidden;
  margin: 0 auto .5em;
  border-radius: 50%;
  box-shadow: 0 0 .15em #ccc;
  border: 3px solid #fff;
  background-color: #eee;
  background-size: cover;
  background-position: center top;
}

.trialLeaderBio .trialLeaderImage {
  float: right;
  margin-left: .75em;
  width: 9em;
  height: 9em;
  border-radius: 0;
}

.trialLeaderSelect {
  padding-bottom: 1em;
  cursor: pointer;
  clear: both;
  margin-top: 1em;
  display: block;
  max-height: 25em;
  overflow: auto;
}

.trialLeaderSelect li {
  line-height: 1.2em;
  padding: .6em 0;
}

.trialLeaderName {
  display: block;
  padding: .25em .5em;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
}

.trialLeaderSelect .trialLeaderImage {
  float: right;
  margin-left: .75em;
  width: 9em;
  height: 9em;
  border-radius: 0;
}

.trialLeaderImage.small {
  width: 5em;
  height: 5em;
}

.trialLeaderBio {
  display: block;
  float: left;
  width: 49%;
}

.col-xs-3 .trialLeaderBio {
  float: none;
  width: auto;
}

select, input[type="file"] {
  height: auto;
  line-height: normal;
}

.trialBio {
  font-size: .9em;
  line-height: 1.2;
  margin-bottom: 1em;
}

.trialSiteLocation {
  display: block;
  float: right;
  width: 49%;
  text-align: left;
}

/*
.trialSiteOptions {
    display: block;
    background: #fafafa;
    border-top:1px solid #fff;
    border-bottom: 1px solid #eee;
    padding: 1em 1em .5em;
    cursor: pointer;
}
.trialSiteOptions:hover, .trialSiteOptions:active {
    background: #fff;
}
.trialSiteOptions p {padding: 0}*/

.trialIntro
span.doc1 {;
  background: url(../images/doc1.png);
  background-size: cover;
}

.trialIntro
span.doc2 {;
  background: url(../images/doc2.jpg);
  background-size: cover;
}

.trialIntro
span.doc3 {;
  background: url(../images/doc3.jpg);
  background-size: cover;
}

.trialDataInfo {
  display: block;
  float: left;
  width: 54%;
  padding-top: 1em;
}

.simplePanel {
  display: block;
  background: #fff;
  margin-bottom: 1em;
  padding: 1em;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
}

.trialCount, .trialInfo {
  display: block;
  background: #fff;
}

.trialInfo {
  float: left;
  width: 54%;
  text-align: justify;
  margin: 1em 0;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
}

.trialCount {
  padding: .5em;
  text-align: center;
  color: #00857f;
  margin-top: 1em;
  border: 1px solid #eee;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.trialApply,
p.link {
  display: block;
  text-align: right;
}

.trialCount
h1, .trialCount p {
  padding: 0;
}

.trialApply {
  padding: 1em 0 .5em;
}

p.distance {
  display: block;
  float: left;
  padding: .5em 1em;
  background: #f8f8f8;
  color: #00857f;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

p.link {
  float: right;
  padding: 12px 0;
}

a.more {
  background: #00857f;
  color: #fff;
  display: inline-block;
  padding: .25em 1em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

a:active.more, a:hover.more {
  text-decoration: none;
}

input.ng-invalid, input.ng-invalid-required,
textarea.ng-invalid, textarea.ng-invalid-required {
  border-color: #c00;
}

.as-sortable-item {
  border: none;
  background: none;
}

/*
.as-sortable-item .qa,
.as-sortable-placeholder {
    border: 1px solid #f00;
    cursor: pointer;
}
.as-sortable-placeholder .qa {
    border: 1px solid #00f !important;
}
#sortable-container {
    display: inline-block;
}
*/

#horizontal-container {
  display: block;
  clear: both;
  float: right;
}

#horizontal-container .as-sortable-item,
#horizontal-container .as-sortable-placeholder,
#horizontal-container .as-sortable-item-handle {
  display: inline-block;
  padding: 0 0 0 12px;
  margin-left: .25em;
  float: left;
  background: #f5f5f5;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

#horizontal-container .as-sortable-item-handle {
  padding: 0;
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  .trialIntro span {
    height: 5em;
    width: 5em;
  }
}

@media screen and (max-width: 900px) {

  .trialInfo, .trialIntro, .trialLocation, .trialResults, .trialRight, .trialSearch {
    float: none;
    width: auto;
    text-align: left;
    margin-bottom: 2em;
  }

  .pa-sidebar, .answers.trialTitle {
    display: none;
  }

  .trialCountH {
    display: none;
  }

  .trialCount {
    display: block;
    float: right;
    padding: .1em 1em;
  }

  .trialCount h1, .trialCount p {
    display: inline;
  }

  .trialCount p {
    position: relative;
    top: -4px;
    padding-right: .5em;
  }

  .trialIntro span {
    height: 4em;
    width: 4em;
  }

  form.small {
    width: 90%;
  }

  .nav a {
    padding: .25em;
  }

  .topNav1 {
    display: none;
  }

  .topNav {
    padding: .8em 0;
    width: auto;
    display: block;
    clear: both;
    float: none;
  }

  .topNav a {
    display: block;
    background: #f2f2f2;
    margin-bottom: .5em;
    padding: 1em;
  }

  .topNav a:active, .topNav a:hover {
    text-decoration: none;
    background: #00857f;
    color: #fff;
  }

  .admin {
    display: none;
  }

  .headerPanel, .menu, .mobileOnly {
    display: block;
  }

  .header > .limiter {
    width: 100%;
  }

  .header {
    padding: 0 0 .5em;
  }

  .header img {
    max-width: 6.5em;
  }

  .limiter.inline {
    display: block;
    margin: auto;
    width: 92.5%;
    max-width: 100em;
    min-width: 16em;
  }

  .headerPanel {
    padding: 10px 0 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%;
    border-top: 3px solid #00857f;
  }
}

@media screen and (max-width: 600px) {
  .answers, .question {
    float: none;
    text-align: center;
    width: auto;
  }
}

.trialImage {
  text-align: center;
}