
/* overwrite options */
.no-padding {padding:0 !important;}
.no-margin {margin:0 !important;}

/* columns :: defaults */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-25, .col-50, .col-75, .col-100, .col-33, .col-66 {
  display: block;
  float: left;
  padding:0 5px;
  min-height: 1px;
}

/* columns :: bootstrap style, grid-based */
.col-1 {width:8.333333333%}
.col-2 {width:16.66666667%}
.col-3 {width:25%}
.col-4 {width:33.33333333%}
.col-5 {width:41.66666667%}
.col-6 {width:50%}
.col-7 {width:58.33333333%}
.col-8 {width:66.66666667%}
.col-9 {width:75%}
.col-10 {width:83.33333333%}
.col-11 {width:91.66666667%}
.col-12 {width:100%}

/* columns :: 4-column percentage grid */
.col-25 {width: 25%}
.col-50 {width: 50%}
.col-75 {width: 75%}
.col-100 {width: 100%;}

/* columns :: 3-column percentage grid */
.col-33 {width: 33.3333%}
.col-66 {width: 66.6667%}