// fonts
$font_size: 	100%;
$font_default: 	"Open Sans",sans-serif;

// borders
$b1: .1em solid;

// colours
$c0:    #000;
$c3: 	#333;
$c6: 	#666;
$c9: 	#999;
$ca:	#aaa;
$cc: 	#ccc;
$ce: 	#eee;
$cf: 	#fff;

$green: #590;

// alignment
$l: 	left;
$r: 	right;
$c: 	center;
$j: 	justify;