// fonts
$font_size: 	100%;
$font_default: 	"Open Sans",sans-serif;

// colours
$cf: 	#fff;
$ca:	#aaa;
$ce: 	#eee;
$cc: 	#ccc;
$c3: 	#333;
$c6: 	#666;

$green: #590;

// alignment
$l: 	left;
$r: 	right;
$c: 	center;
$j: 	justify;