<div class="col-xs-offset-1">
    <div class="page-header">
        <h1>Edit Therapeutic Area</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="therapeuticAreas && therapeuticAreas.length > 0">
        There are no therapeutic areas yet.
    </div>
    <form class="form-horizontal" role="form" ng-submit="addTherapeuticArea(newTherapeuticArea)">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newTherapeuticArea.name" placeholder="Enter a new Therapeutic Area..."/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-disabled="!newTherapeuticArea" title="Add">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
        </div>

        <hr/>

        <div class="form-group" ng-repeat="therapeuticArea in therapeuticAreas">
            <div class="checkbox col-xs-8">
                <label>
                    <input type="checkbox" ng-model="therapeuticArea.checked" ng-change="updateTherapeuticArea(therapeuticArea)"/>
                    {{therapeuticArea.name}}
                </label>
            </div>

            <div class="col-xs-4">
                <button class="pull-left btn btn-danger" type="button" title="Delete"
                        ng-click="deleteTherapeuticArea(therapeuticArea)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </form>
    <hr/>
</div>