<h3>Edit Questionnaire</h3>

<div class="panelContent clearfix">

    <div class="col-3">

        <div class="col-11">

            <label><strong>Load Condition Questionnaire</strong></label>

            <ul class="nav nav-list">
                <li data-ng-repeat="therapeuticarea in therapeuticAreas " data-ui-sref-active="active">
                    <a data-ui-sref="therapeuticAreas.detail({therapeuticAreaId:therapeuticarea.id})"
                       id="lnk_therapeuticArea_{{therapeuticarea.sortOrder}}">{{therapeuticarea.title}}</a>
                </li>
            </ul>
        </div>

    </div>

    <!-- Our unnamed main data-ui-view for this template -->
    <div data-ui-view class="col-9"></div>


</div>