<h3>Edit Questionnaire</h3>

<div class="panelContent">

    <div class="col-xs-3">

        <div class="col-xs-11">

            <label><strong>Load Condition Questionnaire</strong></label>

            <ul class="nav nav-list">

                <!-- <li class="nav-header">Therapeutic Area: Questionnaires</li> -->

                <!-- This <li> will only add the 'active' class if 'therapeuticAreas.detail' or its descendants are active
                     AND if it is the link for the active contact (aka contactId) -->
                <li data-ng-repeat="therapeuticarea in therapeuticAreas " data-ui-sref-active="active">

                    <!-- Here's a data-ui-sref that is also providing necessary parameters -->
                    <a data-ui-sref="therapeuticAreas.detail({therapeuticAreaId:therapeuticarea.id})"
                       id="lnk_therapeuticArea_{{therapeuticarea.sortOrder}}">{{therapeuticarea.title}}</a>
                </li>
            </ul>
        </div>

    </div>

    <!-- Our unnamed main ui-view for this template -->
    <div data-ui-view class="col-xs-9"></div>

    <div class="clear"></div>
</div>