<div class="row">
    <div class="col-xs-3">

        <div class="side-panel">

            <form name="CreateTherapeuticArea" role="form" data-ng-submit="addTherapeuticArea(newTherapeuticArea)">

                <label for="newThereapeuticAreaInput" class="nav-header new-group-label">Add new Therapeutic Area</label>
                <div class="input-group add-new-group">
                    <input id="newThereapeuticAreaInput" type="text" class="form-control" data-ng-model="newTherapeuticArea"
                           placeholder="e.g. Cardiovascular"/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"
                              data-ng-disabled="!newTherapeuticArea" title="Add">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </span>
                </div>
            </form>

        </div>

        <div class="side-panel">
            <ul class="nav nav-list">
                <li class="nav-header">Therapeutic Area: Questionnaires</li>

                <!-- This <li> will only add the 'active' class if 'therapeuticAreas.detail' or its descendants are active
                     AND if it is the link for the active contact (aka contactId) -->
                <li data-ng-repeat="therapeuticArea in therapeuticAreas " ui-sref-active="active">

                    <!-- Here's a ui-sref that is also providing necessary parameters -->
                    <a ui-sref="therapeuticAreas.detail({therapeuticAreaId:therapeuticArea.id})">{{therapeuticArea.title}}</a>
                </li>
            </ul>
        </div>

    </div>

    <!-- Our unnamed main ui-view for this template -->
    <div ui-view class=""></div>
</div>
