<h3>Add Therapeutic Area</h3>

<div class="panelContent">

    <div class="col-6">
        <form name="CreateTherapeuticParent" role="form"
              data-ng-submit="addTherapeuticParent(addNewTherapeuticParent); addNewTherapeuticParent=null">

            <div class="">
                <div class="col-11">

                    <div class="input-group">

                        <label for="inp_addNewTherapeuticParentInput"><strong>Therapeutic Area Name</strong></label>
                        <input id="inp_addNewTherapeuticParentInput" type="text" class="form-control"
                               data-ng-model="addNewTherapeuticParent"
                               placeholder="e.g. Cancer, Stroke, etc"/>

                        <span class="input-group-btn">
                          <button id="btn_addTherapeuticParent" class="btn btn-default" type="submit"
                                  data-ng-disabled="!addNewTherapeuticParent" title="Add">
                              <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        </span>
                    </div>

                </div>
            </div>




        </form>
    </div>

    <div class="col-6">

        <label><strong>Therapeutic Areas Added</strong></label>
        <ul>
            <li data-ng-repeat="therapeuticParent in therapeuticParents | orderBy: 'title'">
                {{therapeuticParent.title}}<br></li>
        </ul>

    </div>

    <div class="clear"></div>
</div>