<div>
    <div class="form-horizontal" role="form">

        <!--<div class="page-header">
            <h1>Questionnaire for <strong>"{{therapeuticarea.title}}"</strong> Trials</h1>
            <p class="noTopPad">Use this page to add/amend Questions &amp; Answers for all "{{therapeuticarea.title}}"
                Trials.</p>
        </div>-->

        <h4>Add New Question</h4>
        <div class="alert alert-info" role="alert"
             data-ng-hide="questionnaireEntries && questionnaireEntries.length > 0">
            There are no questions yet.
        </div>

        <div class="clear"></div>

        <div class="input-group">
            <input id="inp_newQuestion" type="text" class="form-control" data-ng-model="newQuestion"
                   placeholder="Enter the question..."/>
              <span class="input-group-btn">
                <button id="btn_addQuestion" class="btn btn-default" data-ng-click="addQuestion(newQuestion)"
                        data-ng-disabled="!newQuestion"
                        title="Add">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
            <div class="clear"></div>
        </div>

        <br><br>
        <h4>Edit Questionnaire</h4>
        <div class="form-group" data-as-sortable="sortableOptions" data-ng-model="questionnaireEntries">
            <div data-ng-repeat="questionnaireEntry in questionnaireEntries" data-as-sortable-item
                 class="as-sortable-item">
                <div class="qa">

                    <div class="questionEdit" as-sortable-item-handle class="as-sortable-item-handle"
                         data-ng-mouseleave="updateSortQuestion(questionnaireEntry.question.id, $index)">
                        <button class="left btn btn-remove btn-remove-question" type="button" title="Delete"
                                data-ng-click="deleteQuestionnaireEntry(questionnaireEntry)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <p><span class="glyphicon glyphicon-sort"></span> <strong>{{questionnaireEntry.question.questionText}}</strong>
                        </p>
                        <div class="clear"></div>
                    </div>

                    <div class="question">
                        <div class="input-group">
                            <input id="inp_newAnswer_{{questionnaireEntry.question.sortOrder}}" type="text"
                                   class="form-control" data-ng-model="newAnswer"
                                   placeholder="Enter a new answer..."/>
                              <span class="input-group-btn">
                                <button id="btn_newAnswer_{{questionnaireEntry.question.sortOrder}}"
                                        class="btn btn-default" type="button"
                                        data-ng-click="addAnswer(questionnaireEntry, newAnswer)"
                                        data-ng-disabled="!newAnswer" title="Add">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                              </span>
                        </div>
                    </div>


                    <div class="answers" data-ng-if="questionnaireEntry.answers._embeddedItems.length<=4">

                        <div id="horizontal-container" class="answer-container"
                             data-as-sortable="sortableOptionsHorizontal"
                             data-ng-model="questionnaireEntry.answers._embeddedItems">
                            <div data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems"
                                 data-as-sortable-item
                                 class="as-sortable-item">
                                <div data-as-sortable-item-handle>
                                    <span class="answerText" data-ng-bind="answer.answerText"></span>
                                </div>
                                <button id="btn_removeAnswer_{{answer.sortOrder}}" class="left btn btn-remove"
                                        type="button" title="Delete"
                                        data-ng-click="deleteAnswer(questionnaireEntry, answer)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>


                    </div>

                    <div class="answers" data-ng-if="questionnaireEntry.answers._embeddedItems.length>=5">
                        <div class="option-list">
                            <button id="btn_removeAnswer_{{answer.sortOrder}}" class="left btn btn-remove" type="button"
                                    title="Delete"
                                    data-ng-click="deleteAnswer(questionnaireEntry, answer)"
                                    data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'sortOrder'">
                                {{answer.answerText}} <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                    <div class="clear"></div>


                </div>
            </div>
        </div>

        </form>
    </div>


    <div class="clear"></div>