<div data-ng-init="navPanel='ta'">

    <div class="searchTabs">
        <ul class="nav nav-list">
            <li data-ng-class="{ active: navPanel == 'ta' }"><a data-ng-click="navPanel='ta'">Add Therapeutic Area</a></li>
            <li data-ng-class="{ active: navPanel == 'tc' }"><a data-ng-click="navPanel='tc'">Add Condition</a></li>
            <li data-ng-class="{ active: navPanel == 'qa' }"><a data-ng-click="navPanel='qa'">Add/Edit Questionnaire</a></li>
        </ul>
    </div>

    <div class="searchContent">
        <div data-ng-show="navPanel=='ta'" data-ng-include="'app/therapeuticareas/views/therapeuticparent.view.html'"></div>
        <div data-ng-show="navPanel=='tc'" data-ng-include="'app/therapeuticareas/views/therapeuticarea.view.html'"></div>
        <div data-ng-show="navPanel=='qa'" data-ng-include="'app/therapeuticareas/views/questionnaire.view.html'"></div>
    </div>

</div>