<h3>Add Condition</h3>

<div class="panelContent">

    <div class="col6">
        <div class="">
            <div class="col11">
                <form name="CreateTherapeuticArea" role="form"
                      data-ng-submit="addTherapeuticArea(newTherapeuticArea, newTherapeuticParent)">


                    <!--<div data-ng-repeat="therapeuticParent in therapeuticParents">
                        <label>
                            <input type="radio"
                                   id="inp_newTherapeuticAreaInput_{{therapeuticParent.id}}"
                                   value="{{therapeuticParent.id}}" data-ng-value="{{therapeuticParent.id}}"
                                   data-ng-model="$parent.newTherapeuticParent">{{therapeuticParent.title}}
                        </label>
                    </div>-->

                    <label for="inp_newTherapeuticAreaParent"><strong>Main Therapeutic Area?</strong></label>
                    <select id="inp_newTherapeuticAreaParent" data-ng-model="$parent.newTherapeuticParent"
                            data-ng-options="therapeuticParent.id as therapeuticParent.title for therapeuticParent in therapeuticParents | orderBy: 'title'">
                        <option value="">Select Option</option>
                    </select>

                    <div class="clear"></div>
                    <div class="input-group">
                        <label for="inp_newTherapeuticAreaInput"><strong>Condition Name</strong></label>
                        <input id="inp_newTherapeuticAreaInput" type="text" class="form-control"
                               data-ng-model="newTherapeuticArea" data-ng-disabled="!newTherapeuticParent"
                               placeholder="e.g. Cardiovascular"/>

                        <span class="input-group-btn">
                          <button id="btn_addTherapeuticArea" class="btn btn-default" type="submit"
                                  data-ng-disabled="!newTherapeuticArea || !newTherapeuticParent" title="Add">
                                <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        </span>
                    </div>
                </form>





            </div>
        </div>

        </div>

        <div class="col6">
            <label><strong>Conditions Added</strong></label>
            <ul>
                <li data-ng-repeat="ta in therapeuticAreas | orderBy: 'title'">
                    {{ta.title}}<br></li>
            </ul>

        </div>

        <div class="clear"></div>
    </div>
