<div class="col-xs-offset-1">
    <form class="form-horizontal" role="form" ng-submit="addTherapeuticArea(newTherapeuticArea)">

        <div class="page-header">
            <h1>Edit {{therapeuticArea.title}}</h1>
        </div>
        <div class="alert alert-info" role="alert" ng-hide="questionnaireEntries && questionnaireEntries.length > 0">
            There are no questions yet.
        </div>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newQuestion" placeholder="Enter the question..."/>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="addQuestion(newQuestion)" ng-disabled="!newQuestion" title="Add">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
        </div>

        <hr/>

        <div class="form-group" ng-repeat="questionnaireEntry in questionnaireEntries | orderBy:'-question.id'">
            <div class="col-xs-9">
                <label>
                    {{questionnaireEntry.question.questionText}}
                </label>
            </div>

            <div class="col-xs-3">
                <button class="left btn btn-remove" type="button" title="Delete"
                        ng-click="deleteQuestionnaireEntry(questionnaireEntry)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>

            <div class="col-xs-offset-1">
                <div class="row" ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">

                    <div class="col-xs-offset-2 col-xs-4">
                        <label>
                            {{answer.answerText}}
                        </label>
                    </div>

                    <div class="col-xs-2">
                        <button class="left btn btn-remove" type="button" title="Delete"
                                ng-click="deleteAnswer(questionnaireEntry, answer)">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="input-group col-xs-offset-1 col-xs-10">
                <input type="text" class="form-control" ng-model="newAnswer" placeholder="Enter a new answer..."/>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addAnswer(questionnaireEntry, newAnswer)"
                            ng-disabled="!newAnswer" title="Add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
            </div>

            <hr/>
        </div>
    </form>
</div>