<div class="searchTabs">
    <ul class="nav nav-list">
        <li data-ng-class="{ active: $state.includes('users.list') }">
            <a data-ui-sref="users.list" id="lnk_startNewSearch">Trial Search</a></li>
        <li data-ng-class="{ active: $state.includes('users.detail') }">
            <a data-ui-sref="users.detail" id="lnk_SearchQuestionnaire">Trial Results</a></li>
        <li data-ng-class="{ active: showTrialData }">
            <a data-ui-sref="users.list.id" id="lnk_TrialInfo">Trial Information</a>
        </li>
    </ul>
</div>

<div class="searchContent" data-ui-view></div>