<!-- ngView:  -->
<div data-autoscroll="true" class="view-frame">
	<form class="wide">
		<div class="trialRight" data-ng-hide="showList">
			<!-- <h3 class="trialCountH">Trials</h3> -->
			<div class="trialCount"><p>Trials Available</p>
				<h1 data-ng-bind="availableTrialIds.length"></h1>
			</div>

		</div>


		<div class="trialSearch" data-ng-hide="trialData">
			<div class="setArea">
				<p>Trial Therapeutic Area: <strong>{{user.therapeuticArea.title}}</strong></p>
			</div>

			<!--
			<div class="answers trialTitle" style="float:right">
				<label>
					<input id="inp_therapeuticArea{{therapeuticArea.id}}" type="radio" data-ng-checked="user">
					<span data-ng-bind="user.therapeuticArea.title"></span>
				</label>
			</div>
			-->

			<div class="trialTitle" data-ng-bind="user.pseudonym"></div>

			<div class="qa" data-ng-repeat="questionnaireEntry in questionnaireEntries | orderBy:'-question.id'">
				<div class="question">
					<p data-ng-bind="questionnaireEntry.question.questionText"></p>
					<div class="clear"></div>
				</div>
				<div class="answers" data-ng-if="questionnaireEntry.answers._embeddedItems.length<=4">
					<label data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">
						<input id="inp_answer{{answer.id}}" type="checkbox" data-ng-click="updateUserSelectorQuestionnaireEntry(questionnaireEntry, answer)"
							   data-ng-model="answer.isSelected"/>
						<span data-ng-bind="answer.answerText"></span>
					</label>
				</div>

				<div class="answers" data-ng-if="questionnaireEntry.answers._embeddedItems.length>=5">
					<div class="option-list">
						<label data-ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">
							<input id="inp_answer{{answer.id}}" type="checkbox" data-ng-click="updateUserSelectorQuestionnaireEntry(questionnaireEntry, answer)"
								   data-ng-model="answer.isSelected"/>
							<span data-ng-bind="answer.answerText"></span>
						</label>
					</div>
				</div>

			</div>
		</div>






		<div class="trialDataInfo" data-ng-show="trialData">

			<div class="trialLeadersContainer">


				<h3 class="float-left">Trial Sites</h3>
				<div class="float-right">
					<input id="inp_search" style="margin:.5em 0" type="text" data-ng-model="search" placeholder="Trial Site Search...">
				</div>

				<div class="clear"></div>

				<div class="simplePanel trialLeaderList">


					<div class="trialLeader" data-ng-repeat="trialSite in trialData.trialSites._embeddedItems | orderBy:'id' | filter : search" data-ng-click="toggleBio(trialSite, trialData)">

						<!--
						<p class="trialLeaderImage" style="background-image:url('/trialSiteImage/{{site.id}}')">
						</p>
						-->
						<p>

							<strong>{{trialSite.siteDirector}}</strong><br>
						<small>
							<span data-ng-if="trialSite.trialDirectAddress.address1.length">{{trialSite.trialDirectAddress.address1}}, </span>
							<span data-ng-if="trialSite.trialDirectAddress.address2.length">{{trialSite.trialDirectAddress.address2}}, </span>
							<span data-ng-if="trialSite.trialDirectAddress.address4.length">{{trialSite.trialDirectAddress.address3}}, </span>
							<span data-ng-if="trialSite.trialDirectAddress.address4.length">{{trialSite.trialDirectAddress.address4}}, </span>
							<span data-ng-if="trialSite.trialDirectAddress.address5.length">{{trialSite.trialDirectAddress.address5}}, </span>
							<span data-ng-if="trialSite.trialDirectAddress.country.length">{{trialSite.trialDirectAddress.country}}. </span>
						</small>
						</p>

						<div class="clear"></div>
					</div>
					<div class="clear"></div>

				</div>

			</div>


			<div class="trialLeadersContainer"  data-ng-repeat="site in trialData.trialSites._embeddedItems | orderBy:'id'" data-ng-click="toggleBio(site, trialData)" data-ng-show="site.showBio">

				<h3>{{site.siteDirector}}</h3>

				<div class="simplePanel">

					<div class="trialLeaderBio">
						<!-- <h3>Trial Leader</h3> -->
						<div class="">
							<!--
							<p class="trialLeaderImage" style="background-image:url('/trialSiteImage/{{site.id}}')"></p>
							-->
							<p>
								<strong>{{site.siteDirector}}</strong><br>
								{{site.trialDirectAddress.address1}}
								{{site.trialDirectAddress.address2}}
								{{site.trialDirectAddress.address3}}
								{{site.trialDirectAddress.address4}}
								{{site.trialDirectAddress.address5}}
							</p>

							<p data-ng-bind="site.siteDirectorBio"></p>
							<div class="clear"></div>
						</div>
					</div>

					<div class="trialSiteLocation">
						<!-- <h3>Trial Location</h3> -->
						<div class="">
							<!--<p>-->
								<!--<strong>Memorial Sloan Kettering Center</strong><br>-->
								<!--{{site.trialDirectAddress.address1}}-->
								<!--{{site.trialDirectAddress.address2}}-->
								<!--{{site.trialDirectAddress.address3}}-->
								<!--{{site.trialDirectAddress.address4}}-->
								<!--{{site.trialDirectAddress.address5}}-->
							<!--</p>-->


							<iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPnVez_E7pNgjNPxNKWqy8tTsnlFpKJaw&q=University+of+Texas+MD+Anderson+Cancer+Center"></iframe>

							<!-- 							<iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPnVez_E7pNgjNPxNKWqy8tTsnlFpKJaw&q=University+of+Texas+MD+Anderson+Cancer+Center"></iframe> -->
							<div class="clear"></div>
						</div>
					</div>

					<div class="clear"></div>

				</div>

			</div>


			<div class="clear"></div>

			<!--
			<div class="trialSiteList">
				<h3>Available Locations</h3>
				<div class="simplePanel">
					<div class="trialDirectorList">
						<div class="trialSiteOptions" data-ng-repeat="site in trialData.trialSites._embeddedItems | orderBy:'id'" data-ng-click="toggleBio(site, trialData)">
							<p><span class="trialSiteImage"><img data-ng-src="/trialSiteImage/{{site.id}}"></span>
								<strong>{{site.siteDirector}}</strong></p>
							<p data-ng-show="site.showBio" data-ng-bind="site.siteDirectorBio"></p>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="trialSiteLocation">
				<h3>Trial Location Details</h3>
				<div class="simplePanel">
					<p>
						<strong>Memorial Sloan Kettering Center</strong><br>
						New York, New York, United States, 10065<br>
						Contact: Kenneth Offit, MD 646-888-4067<br>
						Principal Investigator: Thomas Haak, MD
					</p>


					<iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPnVez_E7pNgjNPxNKWqy8tTsnlFpKJaw&q=University+of+Texas+MD+Anderson+Cancer+Center"></iframe>

					<div class="clear"></div>
				</div>
			</div>
			-->


			<h3>About The Trial</h3>

			<div class="simplePanel">				
				<p><strong>{{trialData.summary}}</strong></p>

				<p data-ng-show="trialData.trialFullDescription.fullDescription"
				   data-ng-repeat="value in trialData.trialFullDescription.fullDescription | newlines">
					<span data-ng-bind="value"></span>
				</p>
			</div>



			<div class="clear"></div>
		</div>


		<div class="trialResults trialRight">
			<div class="trialList">

				<div class="trialIntro" data-ng-repeat="trial in trialInfos" data-ng-click="chooseTrialData(trial)">
					<ul>
						<li class="trialImage"><img data-ng-src="/trialInfoImage/{{trial.id}}"></li>
						<li class="trialBrief">{{trial.description}}</li>
						<li class="trialLink"><a href=""class="more">View Trial Info</a></li>
					</ul>
					<div class="clear"></div>
				</div>

			</div>
		</div>
	</form>
	<div class="clear"></div>
</div>


