<h3>Start New Search</h3>

<div class="panelContent">

    <form name="CreateUserArea" class="form-horizontal" role="form" data-ng-click="addUser(newUser)">

        <div class="qa">


            <div class="question">
                <p>Select main Therapeutic Area</p>
            </div>

            <div class="answers" data-ng-if="therapeuticAreas.length<=4">
                <label data-ng-repeat="therapeuticArea in therapeuticAreas">
                    <input id="inp_therapeuticAreaSelection_{{therapeuticArea.sortOrder}}"
                           name="therapeuticAreaSelection"
                           type="radio" data-ng-model="therapeuticArea.checked"
                           data-ng-click="chooseTherapeuticArea(therapeuticArea)">
                    <span data-ng-bind="therapeuticArea.title"></span>
                </label>
            </div>

            <div class="answers" data-ng-if="therapeuticAreas.length>=5">
                <div class="option-list">
                    <label data-ng-repeat="therapeuticArea in therapeuticAreas">
                        <input id="inp_therapeuticAreaSelection_{{therapeuticArea.sortOrder}}"
                               name="therapeuticAreaSelection" type="radio" data-ng-model="therapeuticArea.checked"
                               data-ng-click="chooseTherapeuticArea(therapeuticArea)">
                        <span data-ng-bind="therapeuticArea.title"></span>
                    </label>
                </div>
            </div>


            <div class="clear"></div>
        </div>

    </form>

</div>