<div class="col-xs-offset-1">
    <form class="form-horizontal" role="form">

        <div class="page-header">
            <h1>{{user.pseudonym}}</h1>
        </div>

        <div class="form-group" ng-repeat="questionnaireEntry in questionnaireEntries | orderBy:'-question.id'">
            <div class="col-xs-9">
                <label>
                    {{questionnaireEntry.question.questionText}}
                </label>
            </div>
            <div class="col-xs-offset-1">
                <div class="row" ng-repeat="answer in questionnaireEntry.answers._embeddedItems | orderBy:'id'">

                    <div class="checkbox col-xs-9">
                        <label>
                            <input type="checkbox" ng-click="updateUserSelectorQuestionnaireEntry(questionnaireEntry, answer)" ng-checked="answer.isSelected" ng-model="answer.isSelected"/> {{answer.answerText}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>