<div class="mainContent">

    <h3>How it works</h3>
    <div class="panelContent">

        <p>Step 1: Register for the Trial Direct service</p>
        <p>Step 2: Use our innovative search engine to find suitable trials for your patient in your geographic location</p>
        <p>Step 3: Learn more about the trial and the physicians running it</p>
        <p>Step 4: If the trial is a viable option, your patient can register for the trial through Trial Direct</p>
        <p>Step 5: The physician running the trial will contact your patient to discuss further</p>

        <p>You can also receive, at your discretion, a small administration fee of $25 for the time taken to consider the trial for your patient. This payment is paid direct to your bank account in 14 days.</p>
    </div>

    <div class="panelClear"></div>

    <h3>About Trial Direct</h3>
    <div class="panelContent">

        <p>Trial Direct empowers physicians to consider clinical trials as a treatment option for their patients.</p>
        <p>Your patients want to know about clinical trials so they can consider all treatment options.</p>
        <p>Your patients PREFER to learn about trials from their PHYSICIAN.</p>
        <p>Like any other treatment option, you need the RIGHT INFORMATION to consider a clinical trial for your patient.</p>
        <p>Trial Direct provides INSTANT ACCESS to the information you need.</p>
        <p>You can take the DECISION with your patient to contact a physician running a trial.</p>
        <p>Trial Direct, putting the power and access of TOMORROW’S medicines and treatment options in the hands of doctors and their patients TODAY.</p>

    </div>

    <div class="panelClear"></div>

    <h3>About Clinical Trials</h3>
    <div class="panelContent">

        <iframe width="100%" height="450" src="https://www.youtube.com/embed/QgegYR2pDtI" frameborder="0" allowfullscreen></iframe>

    </div>

</div>
