<!DOCTYPE html>
<html lang="en">
<head>

    <link href="./css/bootstrap.2.3.1.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.css"/>
    <link href="./css/style.css" rel="stylesheet"/>
</head>

<body ng-app="trialdirect">

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#/">Home</a>
        <ul class="nav">

            <!-- Here you can see ui-sref in action again. Also notice the use of $state.includes, which
                 will set the links to 'active' if, for example on the first link, 'contacts' or any of
                 its descendant states are activated. -->
            <li ng-class="{active: $state.includes('therapeuticAreas')}"><a ui-sref="therapeuticAreas.list">Therapeutic Areas</a></li>
            <li ng-class="{active: $state.includes('trials')}"><a ui-sref="trials.list">Trial Selectors</a></li>
            <li ng-class="{active: $state.includes('users')}"><a ui-sref="users.list">User Selectors</a></li>

        </ul>

        <p ui-view="hint" class="navbar-text pull-right"></p>
    </div>
</div>

<div class="container slide">
    <div class="row">
        <!--<div class="col-xs-6" ui-view></div>-->

        <div ng-if="!$state.current.views.hasOwnProperty('viewB')" class="col-xs-offset-1 col-xs-10" ui-view="viewA"></div>

        <div ng-if="$state.current.views.hasOwnProperty('viewB')" class="col-xs-6" ui-view="viewA"></div>
        <div ng-if="$state.current.views.hasOwnProperty('viewB')" class="col-xs-6" ui-view="viewB"></div>
    </div>
    <!--<pre>-->
          <!--&lt;!&ndash; Here's some values to keep an eye on in the sample in order to understand $state and $stateParams &ndash;&gt;-->
          <!--$state = {{$state.$current.name}}-->
          <!--$state full url = {{ $state.$current.url.source }}-->
          <!--$stateParams = {{$stateParams}}-->
          <!--Use full screen = {{$state.current.views.hasOwnProperty('viewB')}}-->
        <!--&lt;!&ndash; $state.$current is not a public api, we are using it to-->
             <!--display the full url for learning purposes&ndash;&gt;-->
    <!--</pre>-->

    <hr/>
</div>

<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript"
        src="./bower_components/angular-spring-data-rest/dist/angular-spring-data-rest.js"></script>
<script type="text/javascript" src="./bower_components/lodash/dist/lodash.js"></script>

<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controllers/ItemController.js"></script>
<script type="text/javascript" src="./app/controllers/QuestionnaireController.js"></script>
<script type="text/javascript" src="./app/controllers/TrialController.js"></script>

<script type="text/javascript" src="./app/services/ItemService.js"></script>
<script type="text/javascript" src="./app/services/QuestionService.js"></script>
<script type="text/javascript" src="./app/services/AnswerService.js"></script>
<script type="text/javascript" src="./app/services/TrialResourceService.js"></script>
<script type="text/javascript" src="./app/services/QuestionnaireEntryResourceService.js"></script>


<!-- TherapeuticAreas start -->
<script type="text/javascript" src="app/therapeuticareas/controllers/TherapeuticAreaController.js"></script>
<script type="text/javascript" src="app/therapeuticareas/controllers/TherapeuticAreaEditController.js"></script>
<script type="text/javascript" src="app/therapeuticareas/states/TherapeuticAreaStateManager.js"></script>
<script type="text/javascript" src="app/therapeuticareas/services/TherapeuticAreaResourceService.js"></script>
<!-- TherapeuticAreas end -->

<!-- Trials start -->
<script type="text/javascript" src="app/trials/controllers/TrialController.js"></script>
<script type="text/javascript" src="app/trials/controllers/TrialEditController.js"></script>
<script type="text/javascript" src="app/trials/states/TrialStateManager.js"></script>
<script type="text/javascript" src="app/trials/services/TrialResourceService.js"></script>
<script type="text/javascript" src="app/trials/services/TrialSelectorQuestionnaireEntryResourceService.js"></script>
<!-- Trials end -->


<!--&lt;!&ndash; Users start &ndash;&gt;-->
<script type="text/javascript" src="app/users/controllers/UserController.js"></script>
<script type="text/javascript" src="app/users/controllers/UserEditController.js"></script>
<script type="text/javascript" src="app/users/states/UserStateManager.js"></script>
<script type="text/javascript" src="app/users/services/UserResourceService.js"></script>
<script type="text/javascript" src="app/users/services/UserSelectorQuestionnaireEntryResourceService.js"></script>
<!-- Users end -->

<!-- contacts.js declares the uiRouterSample.contacts module, and adds a number of contact
         related states
    -->
<script src="app/contacts/contacts.js"></script>

<!-- contacts-service.js, and utils-service.js define services for use by the
     uiRouterSample.contacts module.
-->
<script src="app/contacts/contacts-service.js"></script>
<script src="common/utils/utils-service.js"></script>

</body>

</html>